body {
	background: #F7F7F7;
	color: #444444;
    font-family: verdana;
    font-size: 10px;
	font-style: normal;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

header {
	margin: auto;
	width: 770px;
}

aside {
	height:auto !important; /* IE6 Hack */
	height: 440px; /* IE6 Hack */
	margin: auto;
    min-height: 440px;
	width: 770px;  
}

footer {
	color: #FFFFFF; 
	margin: auto;
	width: 770px;
}

.error {
	color: #FF4444;
	font-weight: bold;
}